<%#
# encoding: utf-8
#--
#   Copyright (C) 2012-2013 Gitorious AS
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>
<div class="container gts-body">
  <% @title = "#{path} in #{repository_slug}:master" %>
  <div class="gts-file gts-browser">
    <div class="gts-ref-selector-ph"></div>
    <ul class="pull-right gts-blob-view">
      <li class="active">Blob content</li>
      <li><a href="<%= blame_url(repository_slug, ref, path) %>">Blame</a></li>
      <li><a href="<%= history_url(repository_slug, ref, path) %>">History</a></li>
      <li><a href="<%= raw_url(repository_slug, ref, path) %>">Raw blob</a></li>
    </ul>
    <%= breadcrumb(repository_slug, ref, path) %>
    <%= format_blob(path, safe_blob_text(blob), repository_slug, ref) %>
  </div>
</div>
